/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  &::-webkit-scrollbar { 
  display: none; 
  }
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}


.site-wrapper,
.site-content {
  position: relative;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* ==========================================================================
   Variables
   ========================================================================== */
    

  /* ==========================================================================
   Mixins
   ========================================================================== */


/* ==========================================================================
   Import Fonts
   ========================================================================== */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .video-container .filter {
    z-index: 2;
   }

  .homepage-hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    .homepage-hero-inner {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  .avatar {
    width: 160px;
    height: 160px;
    border: 3px solid #FFF;
    border-radius: 50%;
  }

  .skill-images {
    img {
      width: 90px;
      height: 90px;
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  #home {
    color: #FEFEFE;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */
  $m-sizes: (0);
  $mt-sizes: (7, 14, 28);
  $fz-sizes: (22);

  @each $size in $m-sizes {
    .m-#{$size} {
        margin: #{$size}px;
    }
  }
  
  @each $size in $mt-sizes {
    .mt-#{$size} {
        margin-top: #{$size}px;
    }
  }

  @each $size in $fz-sizes {
    .fz-#{$size} {
        font-size: #{$size}px;
    }
  }

  .indie {
    font-family: 'Josefin Sans', sans-serif;
  }


/* ==========================================================================
   Media queries
   ========================================================================== */
    /* Desktop Up */
   @media only screen and (min-width: 992px) {

   }

   /* XS Down */
   @media only screen and (max-width: 768px) {

   }
  
